body {
	color: black;
	text-align: center;
	font-size: 16px;
	font-style: sans-serif;
	font-family: "Montserrat", "Arial", sans-serif;
	/*border: 2px solid black;*/
}
#logo {
	color: #242424;	
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 0.3em;
}
#nav_links {
list-style-type: none;
margin: 0;
padding: 0;
}
#nav_links li {
	display: inline;
	font-weight: bold;
}
#nav_links li a {
	padding: 1em;
	color: black;
}
#navbar {
	background-color: #fca19a;
	padding: 1em;
}
#header {

}
#head_img {
	height: 30em;
	width: 100%;
	background-image: url("http://circuits-assets.generalassemb.ly/prod/asset/5475/toms-restaurant.jpg");
	background-position: center;
}
#reservations {
	width: 100%;
}
#make_resv, .dropdown-menu {
	width: 47%;
	float: left;
	margin: 1em;
}
#exist_resv {
	width: 47%;
	float: right;
	margin: 1em;
}
#come_dine {
	float: center;
}
#reviews {
}
.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
h3 {
	padding: 1em;
}
#map {
	height: 50em;
	width: 50%;
	/*margin: 2em;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#reviews img {
	float: left;
	padding: 2em;
}
#reviews p {
	float: right;
	padding: 2em;
}
#table_of_resv {
	/*border: 1px solid black;*/
	float: center;
}
#review1 {
	padding: 2em;
	font-size: 18px;
	font-weight: bold;
	color: black;
}
#hours {
	
	
}
#hours_links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#hours li {
	color: gray;
	padding: 0.3em;
}
.day {
	font-weight: bold;
}
.title {
	background-color: #f0bfbb;
	padding: 1em;
	/*margin: 1em;*/
}
#tagline {
	font-style: italic;
}

